/* Grid variables */
/* Colors */
/* Responsive breakpoints */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #f7f7f7; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 81.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 50em) {
    html {
      font-size: 40%; } }

section {
  padding: 8rem 0; }
  @media only screen and (max-width: 37.5em) {
    section {
      padding: 2.5em 0; } }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  @media only screen and (max-width: 65.63em) {
    .row {
      width: 100%;
      padding: 0 2rem; } }
  .row:not(:last-child) {
    margin-bottom: 6rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 5rem; }
  .row .col-1-of-2 {
    width: calc((100% - 5rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 5rem) / 3); }
    @media only screen and (max-width: 37.5em) {
      .row .col-1-of-3 {
        width: 100%;
        margin-bottom: 3rem;
        padding: 0 15rem 0 15rem; } }
    @media only screen and (max-width: 28.13em) {
      .row .col-1-of-3 {
        padding: 0 5rem 0 5rem; } }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 5rem) / 3) + 5rem); }
    @media only screen and (max-width: 37.5em) {
      .row .col-2-of-3 {
        width: 100%;
        margin-bottom: 3rem;
        padding: 0 10rem 0 10rem; } }
    @media only screen and (max-width: 28.13em) {
      .row .col-2-of-3 {
        padding: 0 2rem 0 2rem; } }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 5rem) / 4); }
    @media only screen and (max-width: 28.13em) {
      .row .col-1-of-4 {
        width: 100%;
        margin-bottom: 1.5rem;
        padding: 0 9rem 0 9rem; } }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 5rem) / 4) + 5rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 5rem) / 4) + 2 * 5rem); }

.heading-primary {
  font-size: 3.5rem;
  text-transform: uppercase;
  letter-spacing: .3rem;
  display: inline-block;
  border: 2px solid #f7f7f7;
  border-radius: 2px;
  padding: .6rem; }

.heading-secondary {
  font-size: 6.5rem;
  text-transform: uppercase;
  letter-spacing: .6rem;
  margin: 4rem 0; }
  @media only screen and (max-width: 50em) {
    .heading-secondary {
      font-size: 5.2rem; } }
  @media only screen and (max-width: 37.5em) {
    .heading-secondary {
      font-size: 4rem;
      letter-spacing: .2rem;
      margin: 1rem 0; } }

.heading-tertiary {
  font-size: 4.5rem;
  text-transform: uppercase;
  letter-spacing: .3rem;
  text-align: center; }
  @media only screen and (max-width: 37.5em) {
    .heading-tertiary {
      font-size: 3rem;
      letter-spacing: .1rem; } }

.paragraph {
  font-size: 2rem;
  margin: 5rem 0; }

hr {
  border: 0;
  height: 2px;
  width: 45rem;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 68, 68, 0)), color-stop(rgba(255, 68, 68, 0.75)), to(rgba(255, 68, 68, 0)));
  background-image: linear-gradient(to right, rgba(255, 68, 68, 0), rgba(255, 68, 68, 0.75), rgba(255, 68, 68, 0));
  margin: 0 auto;
  margin-top: 1rem; }

.btn, .btn:link, .btn:visited {
  letter-spacing: .2rem;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  color: #f7f7f7;
  outline: none;
  border: 0 none;
  cursor: pointer;
  -webkit-transition: all .2s;
  transition: all .2s; }

.btn:active, .btn:focus {
  outline: none; }

.btn-red, .btn-red:link, .btn-red:visited {
  background-color: #FF4444;
  font-size: 1.7rem;
  padding: 2.5rem 3.5rem; }

.btn-red:hover {
  background-color: #E90000; }

.btn-white, .btn-white:link, .btn-white:visited {
  font-size: 1.5rem;
  padding: 2rem 4.5rem;
  border: 2px solid #f7f7f7;
  text-align: center; }

.btn-white:hover {
  background-color: #FF4444;
  border-color: #FF4444; }

.btn-icon, .btn-icon:link, .btn-icon:visited {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  background-color: #FF4444;
  line-height: 5rem;
  text-align: center;
  vertical-align: center; }
  .btn-icon:not(:last-child), .btn-icon:link:not(:last-child), .btn-icon:visited:not(:last-child) {
    margin-right: 2rem; }

.btn-icon:hover {
  background-color: #E90000; }

.u-margin-top-big {
  margin-top: 5rem; }
  @media only screen and (max-width: 37.5em) {
    .u-margin-top-big {
      margin-top: 2rem; } }

.u-margin-top-medium {
  margin-top: 3rem; }

.u-center {
  margin: 0 auto;
  text-align: center; }

@-webkit-keyframes moveIn {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-8rem);
    transform: translateY(-8rem); }
  75% {
    -webkit-transform: translateY(1rem);
    transform: translateY(1rem); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

@keyframes moveIn {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-8rem);
    transform: translateY(-8rem); }
  75% {
    -webkit-transform: translateY(1rem);
    transform: translateY(1rem); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

.header {
  height: 100vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(34, 34, 34, 0.6)), to(rgba(34, 34, 34, 0.6))), url(../img/hero-1d.jpg);
  background-image: linear-gradient(rgba(34, 34, 34, 0.6), rgba(34, 34, 34, 0.6)), url(../img/hero-1d.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed; }
  @media only screen and (max-width: 50em) {
    .header {
      background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(34, 34, 34, 0.6)), to(rgba(34, 34, 34, 0.6))), url(../img/hero-small-1d.jpg);
      background-image: linear-gradient(rgba(34, 34, 34, 0.6), rgba(34, 34, 34, 0.6)), url(../img/hero-small-1d.jpg); } }
  @media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 50em), only screen and (min-resolution: 192dpi) and (min-width: 50em) {
    .header {
      background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(34, 34, 34, 0.6)), to(rgba(34, 34, 34, 0.6))), url(../img/hero.jpg);
      background-image: linear-gradient(rgba(34, 34, 34, 0.6), rgba(34, 34, 34, 0.6)), url(../img/hero.jpg); } }
  @media only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 50em), only screen and (min-resolution: 192dpi) and (max-width: 50em) {
    .header {
      background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(34, 34, 34, 0.6)), to(rgba(34, 34, 34, 0.6))), url(../img/hero-small.jpg);
      background-image: linear-gradient(rgba(34, 34, 34, 0.6), rgba(34, 34, 34, 0.6)), url(../img/hero-small.jpg); } }
  .header__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 114rem; }
    .header__text-box * {
      -webkit-animation: moveIn 1s ease-out;
      animation: moveIn 1s ease-out; }
    @media only screen and (max-width: 65.63em) {
      .header__text-box {
        width: 90%; } }

.navigation {
  background-color: #222;
  width: 100vw;
  height: 8rem;
  position: fixed;
  z-index: 99999; }
  .navigation::after {
    content: "";
    display: table;
    clear: both; }
  .navigation__logo {
    float: left;
    margin-top: -2rem;
    height: 12rem; }
  .navigation__list {
    list-style: none;
    float: right; }
    @media only screen and (max-width: 37.5em) {
      .navigation__list {
        float: none; } }
  .navigation__item {
    display: inline-block;
    margin-left: 1.7rem;
    margin-top: 3rem; }
  .navigation__link:link, .navigation__link:visited {
    padding: 2.8rem 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5rem;
    color: #f7f7f7;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom .2s;
    transition: border-bottom .2s; }
  .navigation__link:hover, .navigation__link:active {
    border-bottom: 2px solid #E90000;
    color: #E90000; }
  .navigation__mobile-icon {
    display: none; }
  @media only screen and (max-width: 50em) {
    .navigation__mobile {
      position: absolute;
      top: 6.5rem;
      right: 5rem;
      background-color: #222;
      text-align: center;
      display: none; }
      .navigation__mobile-icon {
        display: block;
        float: right;
        padding: 1.5rem;
        cursor: pointer; }
        .navigation__mobile-icon i {
          font-size: 4rem; }
      .navigation__mobile .navigation__item {
        display: block;
        margin: 0;
        padding: 2.5rem 0; }
        .navigation__mobile .navigation__item:not(:last-child) {
          border-bottom: 2px solid #444; }
      .navigation__mobile .navigation__link:link,
      .navigation__mobile .navigation__link:visited {
        padding: 2.5rem 7rem; } }

.section-about {
  background-color: #333; }

.box {
  position: relative;
  left: 9.3rem;
  top: 2rem; }
  @media only screen and (max-width: 65.63em) {
    .box {
      left: 7.5rem; } }
  @media only screen and (max-width: 50em) {
    .box {
      left: 8rem; } }
  @media only screen and (max-width: 37.5em) {
    .box {
      left: 4rem; } }
  @media only screen and (max-width: 28.13em) {
    .box {
      bottom: 2rem;
      left: 40%;
      width: 5rem; } }
  .box__number {
    margin-top: 1,8rem;
    width: 5.3rem;
    height: 3rem;
    background-color: #FF4444;
    position: relative; }
    .box__number:before, .box__number:after {
      content: "";
      border-left: 2.6rem solid transparent;
      border-right: 2.6rem solid transparent;
      position: absolute; }
    .box__number:before {
      top: -1.5rem;
      border-bottom: 1.5rem solid #FF4444; }
    .box__number:after {
      bottom: -1.5rem;
      border-top: 1.5rem solid #FF4444; }
    .box__number--inner {
      background-color: #333;
      -webkit-transform: scale(0.9, 0.9);
      -moz-transform: scale(0.9, 0.9);
      transform: scale(0.9, 0.9);
      z-index: 2; }
      .box__number--inner:before {
        border-bottom: 1.5rem solid #333; }
      .box__number--inner:after {
        border-top: 1.5rem solid #333; }
    .box__number--number {
      font-size: 3rem;
      position: relative;
      z-index: 3;
      bottom: 3.8rem;
      left: 1.6rem; }
  .box__text {
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase; }

.section-features {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(34, 34, 34, 0.9)), to(rgba(34, 34, 34, 0.9))), url(../img/sectionfeatures-1d.jpg);
  background-image: linear-gradient(rgba(34, 34, 34, 0.9), rgba(34, 34, 34, 0.9)), url(../img/sectionfeatures-1d.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed; }
  @media only screen and (max-width: 78.125em) {
    .section-features {
      background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(34, 34, 34, 0.9)), to(rgba(34, 34, 34, 0.9))), url(../img/sectionfeatures-small-1d.jpg);
      background-image: linear-gradient(rgba(34, 34, 34, 0.9), rgba(34, 34, 34, 0.9)), url(../img/sectionfeatures-small-1d.jpg); } }
  @media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 78.125em), only screen and (min-resolution: 192dpi) and (min-width: 78.125em) {
    .section-features {
      background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(34, 34, 34, 0.9)), to(rgba(34, 34, 34, 0.9))), url(../img/sectionfeatures.jpg);
      background-image: linear-gradient(rgba(34, 34, 34, 0.9), rgba(34, 34, 34, 0.9)), url(../img/sectionfeatures.jpg); } }
  @media only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 78.125em), only screen and (min-resolution: 192dpi) and (max-width: 78.125em) {
    .section-features {
      background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(34, 34, 34, 0.9)), to(rgba(34, 34, 34, 0.9))), url(../img/sectionfeatures-small.jpg);
      background-image: linear-gradient(rgba(34, 34, 34, 0.9), rgba(34, 34, 34, 0.9)), url(../img/sectionfeatures-small.jpg); } }
  @media only screen and (max-width: 50em) {
    .section-features {
      background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(34, 34, 34, 0.9)), to(rgba(34, 34, 34, 0.9)));
      background-image: linear-gradient(rgba(34, 34, 34, 0.9), rgba(34, 34, 34, 0.9)); } }

.feature-box {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(34, 34, 34, 0.7)), to(rgba(34, 34, 34, 0.7)));
  background-image: linear-gradient(rgba(34, 34, 34, 0.7), rgba(34, 34, 34, 0.7));
  width: 100%;
  text-align: center;
  height: 27rem;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: all .2s;
  transition: all .2s; }
  @media only screen and (max-width: 37.5em) {
    .feature-box {
      height: auto;
      padding-bottom: 1.5rem; } }
  .feature-box__icon {
    font-size: 10rem; }
  .feature-box__text {
    font-size: 3rem;
    text-transform: uppercase; }
    @media only screen and (max-width: 37.5em) {
      .feature-box__text {
        font-size: 1.7rem; } }
  .feature-box:hover {
    -webkit-transform: scale(1.15);
    transform: scale(1.15); }
    .feature-box:hover icon {
      color: #FF4444; }

.section-classes {
  padding: 0; }
  .section-classes::after {
    content: "";
    display: table;
    clear: both; }

.class-box {
  float: left;
  width: 50%;
  text-align: center; }
  @media only screen and (max-width: 37.5em) {
    .class-box {
      width: 100%; } }
  .class-box__list {
    list-style: none;
    padding: 5rem 8rem; }
    @media only screen and (max-width: 50em) {
      .class-box__list {
        padding: 2.5rem 4rem; } }
  .class-box__item {
    font-size: 3.5rem;
    margin-bottom: 3rem;
    border-bottom: 2px solid #333; }
  .class-box__date {
    font-size: 2.5rem; }
    @media only screen and (max-width: 65.63em) {
      .class-box__date {
        font-size: 1.7rem; } }
  .class-box__icon {
    font-size: 4rem;
    color: #FF4444;
    margin-right: 1rem; }
  .class-box__men {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(34, 34, 34, 0.7)), to(rgba(34, 34, 34, 0.7))), url(../img/classes-men-1d.jpg);
    background-image: linear-gradient(rgba(34, 34, 34, 0.7), rgba(34, 34, 34, 0.7)), url(../img/classes-men-1d.jpg);
    background-position: center;
    background-size: cover;
    -webkit-transition: background-image .2s linear;
    transition: background-image .2s linear; }
    .class-box__men:hover {
      background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(34, 34, 34, 0.6)), to(rgba(34, 34, 34, 0.6))), url(../img/classes-men-1d.jpg);
      background-image: linear-gradient(rgba(34, 34, 34, 0.6), rgba(34, 34, 34, 0.6)), url(../img/classes-men-1d.jpg); }
    @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi) {
      .class-box__men {
        background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(34, 34, 34, 0.7)), to(rgba(34, 34, 34, 0.7))), url(../img/classes-men.jpg);
        background-image: linear-gradient(rgba(34, 34, 34, 0.7), rgba(34, 34, 34, 0.7)), url(../img/classes-men.jpg); }
        .class-box__men:hover {
          background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(34, 34, 34, 0.6)), to(rgba(34, 34, 34, 0.6))), url(../img/classes-men.jpg);
          background-image: linear-gradient(rgba(34, 34, 34, 0.6), rgba(34, 34, 34, 0.6)), url(../img/classes-men.jpg); } }
  .class-box__women {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(34, 34, 34, 0.7)), to(rgba(34, 34, 34, 0.7))), url(../img/classes-women-1d.jpg);
    background-image: linear-gradient(rgba(34, 34, 34, 0.7), rgba(34, 34, 34, 0.7)), url(../img/classes-women-1d.jpg);
    background-position: center;
    background-size: cover;
    -webkit-transition: background-image .2s linear;
    transition: background-image .2s linear; }
    .class-box__women:hover {
      background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(34, 34, 34, 0.6)), to(rgba(34, 34, 34, 0.6))), url(../img/classes-women-1d.jpg);
      background-image: linear-gradient(rgba(34, 34, 34, 0.6), rgba(34, 34, 34, 0.6)), url(../img/classes-women-1d.jpg); }
    @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi) {
      .class-box__women {
        background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(34, 34, 34, 0.7)), to(rgba(34, 34, 34, 0.7))), url(../img/classes-women.jpg);
        background-image: linear-gradient(rgba(34, 34, 34, 0.7), rgba(34, 34, 34, 0.7)), url(../img/classes-women.jpg); }
        .class-box__women:hover {
          background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(34, 34, 34, 0.6)), to(rgba(34, 34, 34, 0.6))), url(../img/classes-women.jpg);
          background-image: linear-gradient(rgba(34, 34, 34, 0.6), rgba(34, 34, 34, 0.6)), url(../img/classes-women.jpg); } }

.section-membership {
  background-color: #333; }

.plan-card {
  background-color: #444;
  padding-bottom: 3rem;
  -webkit-box-shadow: 0 1rem 2rem rgba(34, 34, 34, 0.9);
  box-shadow: 0 1rem 2rem rgba(34, 34, 34, 0.9); }
  .plan-card__title {
    background-color: #f7f7f7;
    font-size: 3.5rem;
    color: #333;
    text-align: center;
    padding: 1rem 0; }
  .plan-card__stars {
    font-size: 3rem;
    color: #FF4444; }
  .plan-card__price {
    font-size: 6rem;
    text-align: center;
    padding: 1rem 0; }
    .plan-card__price--month {
      font-size: 3rem; }
  .plan-card__features {
    list-style: none; }
    @media only screen and (max-width: 37.5em) {
      .plan-card__features {
        padding: 0 3rem; } }
    .plan-card__features--item {
      font-size: 2.5rem;
      padding: 1.5rem 0;
      border-top: 2px solid #888;
      padding-left: 2rem; }
      .plan-card__features--item:last-child {
        line-height: 2;
        border-bottom: 2px solid #888; }
    .plan-card__features--icon {
      font-size: 2rem;
      color: #FF4444;
      margin-right: .7rem; }
  .plan-card__button {
    text-align: center; }

.section-facts {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(34, 34, 34, 0.9)), to(rgba(34, 34, 34, 0.9))), url(../img/sectionfacts-1d.jpg);
  background-image: linear-gradient(rgba(34, 34, 34, 0.9), rgba(34, 34, 34, 0.9)), url(../img/sectionfacts-1d.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed; }
  @media only screen and (max-width: 65.63em) {
    .section-facts {
      background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(34, 34, 34, 0.9)), to(rgba(34, 34, 34, 0.9))), url(../img/sectionfacts-small-1d.jpg);
      background-image: linear-gradient(rgba(34, 34, 34, 0.9), rgba(34, 34, 34, 0.9)), url(../img/sectionfacts-small-1d.jpg); } }
  @media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 65.63em), only screen and (min-resolution: 192dpi) and (min-width: 65.63em) {
    .section-facts {
      background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(34, 34, 34, 0.9)), to(rgba(34, 34, 34, 0.9))), url(../img/sectionfacts.jpg);
      background-image: linear-gradient(rgba(34, 34, 34, 0.9), rgba(34, 34, 34, 0.9)), url(../img/sectionfacts.jpg); } }
  @media only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 65.63em), only screen and (min-resolution: 192dpi) and (max-width: 65.63em) {
    .section-facts {
      background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(34, 34, 34, 0.9)), to(rgba(34, 34, 34, 0.9))), url(../img/sectionfacts-small.jpg);
      background-image: linear-gradient(rgba(34, 34, 34, 0.9), rgba(34, 34, 34, 0.9)), url(../img/sectionfacts-small.jpg); } }
  @media only screen and (max-width: 50em) {
    .section-facts {
      background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(34, 34, 34, 0.9)), to(rgba(34, 34, 34, 0.9)));
      background-image: linear-gradient(rgba(34, 34, 34, 0.9), rgba(34, 34, 34, 0.9)); } }

.fact-box {
  width: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(34, 34, 34, 0.7)), to(rgba(34, 34, 34, 0.7)));
  background-image: linear-gradient(rgba(34, 34, 34, 0.7), rgba(34, 34, 34, 0.7));
  padding: 2rem 1.5rem; }
  .fact-box::after {
    content: "";
    display: table;
    clear: both; }
  @media only screen and (max-width: 65.63em) {
    .fact-box {
      text-align: center; } }
  .fact-box__icon {
    display: inline-block;
    float: left;
    font-size: 7.5rem;
    margin-right: 1.5rem;
    color: #FF4444; }
    @media only screen and (max-width: 65.63em) {
      .fact-box__icon {
        float: none;
        margin: 0; } }
  .fact-box__info {
    float: left; }
    @media only screen and (max-width: 65.63em) {
      .fact-box__info {
        float: none; } }
    .fact-box__info--number {
      font-size: 4rem; }
    .fact-box__info--text {
      font-size: 2rem; }
      @media only screen and (max-width: 65.63em) {
        .fact-box__info--text {
          display: block; } }

.section-articles {
  background-color: #333; }

.article-box {
  position: relative;
  background-color: #f7f7f7;
  -webkit-box-shadow: 0 1rem 2rem rgba(34, 34, 34, 0.9);
  box-shadow: 0 1rem 2rem rgba(34, 34, 34, 0.9); }
  .article-box__picture {
    height: 35rem;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
    .article-box__picture--1 {
      background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(34, 34, 34, 0.6)), to(rgba(34, 34, 34, 0.6))), url(../img/article1-1d.jpg);
      background-image: linear-gradient(rgba(34, 34, 34, 0.6), rgba(34, 34, 34, 0.6)), url(../img/article1-1d.jpg);
      background-size: cover;
      background-position: center; }
      @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi) {
        .article-box__picture--1 {
          background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(34, 34, 34, 0.6)), to(rgba(34, 34, 34, 0.6))), url(../img/article1.jpg);
          background-image: linear-gradient(rgba(34, 34, 34, 0.6), rgba(34, 34, 34, 0.6)), url(../img/article1.jpg); } }
    .article-box__picture--2 {
      background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(34, 34, 34, 0.6)), to(rgba(34, 34, 34, 0.6))), url(../img/article2-1d.jpg);
      background-image: linear-gradient(rgba(34, 34, 34, 0.6), rgba(34, 34, 34, 0.6)), url(../img/article2-1d.jpg);
      background-size: cover;
      background-position: center; }
      @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi) {
        .article-box__picture--2 {
          background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(34, 34, 34, 0.6)), to(rgba(34, 34, 34, 0.6))), url(../img/article2.jpg);
          background-image: linear-gradient(rgba(34, 34, 34, 0.6), rgba(34, 34, 34, 0.6)), url(../img/article2.jpg); } }
    .article-box__picture--3 {
      background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(34, 34, 34, 0.6)), to(rgba(34, 34, 34, 0.6))), url(../img/article3-1d.jpg);
      background-image: linear-gradient(rgba(34, 34, 34, 0.6), rgba(34, 34, 34, 0.6)), url(../img/article3-1d.jpg);
      background-size: cover;
      background-position: center; }
      @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi) {
        .article-box__picture--3 {
          background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(34, 34, 34, 0.6)), to(rgba(34, 34, 34, 0.6))), url(../img/article3.jpg);
          background-image: linear-gradient(rgba(34, 34, 34, 0.6), rgba(34, 34, 34, 0.6)), url(../img/article3.jpg); } }
  .article-box__button {
    position: absolute;
    top: 20rem;
    left: 8rem;
    z-index: 20; }
    @media only screen and (max-width: 50em) {
      .article-box__button {
        left: 15%; } }
  .article-box__text {
    color: #333;
    padding: 0 3rem 3rem 3rem; }
    .article-box__text--title {
      font-size: 2.5rem;
      font-weight: 900;
      margin-bottom: 1rem; }
    .article-box__text--description {
      font-size: 2rem; }

.footer {
  background-color: #333;
  position: relative;
  padding: 8rem 0; }
  @media only screen and (max-width: 37.5em) {
    .footer {
      padding: 2rem 0; } }

.map {
  width: 100%;
  height: 50rem;
  z-index: 20;
  border-bottom: 3px solid #FF4444; }

.contact-form {
  background-color: #f7f7f7;
  color: #333;
  -webkit-box-shadow: 0 1rem 2rem rgba(34, 34, 34, 0.9);
  box-shadow: 0 1rem 2rem rgba(34, 34, 34, 0.9);
  position: absolute;
  bottom: 5rem;
  z-index: 20; }
  @media only screen and (max-width: 37.5em) {
    .contact-form {
      position: relative;
      bottom: 0;
      margin-top: 2rem; } }
  .contact-form .form {
    padding: 4rem 6rem; }
    @media only screen and (max-width: 37.5em) {
      .contact-form .form {
        padding: 1.5rem 2.5rem; } }
    .contact-form .form__input {
      font-size: 2rem;
      font-family: inherit;
      text-transform: uppercase;
      color: inherit;
      background-color: inherit;
      border: none;
      border-bottom: 3px solid transparent;
      display: block;
      padding: 2rem 0;
      width: 100%;
      -webkit-transition: all .3s;
      transition: all .3s; }
      .contact-form .form__input:first-of-type {
        margin-top: 3rem; }
      .contact-form .form__input:not(:last-child) {
        margin-bottom: 4rem; }
      .contact-form .form__input:focus {
        outline: none;
        border-bottom: 3px solid #FF4444; }
        .contact-form .form__input:focus::-webkit-input-placeholder {
          -webkit-transition: all .3s;
          transition: all .3s;
          letter-spacing: .2rem; }
        .contact-form .form__input:focus:-ms-input-placeholder {
          -webkit-transition: all .3s;
          transition: all .3s;
          letter-spacing: .2rem; }
        .contact-form .form__input:focus::placeholder {
          -webkit-transition: all .3s;
          transition: all .3s;
          letter-spacing: .2rem; }
      .contact-form .form__input:focus:invalid {
        border-bottom: 3px solid #A20000; }
      .contact-form .form__input::-webkit-input-placeholder {
        color: #888; }
    .contact-form .form__message {
      height: 10rem; }

@media only screen and (max-width: 37.5em) {
  .info {
    text-align: center; } }

.info:not(:last-child) {
  margin-bottom: 4rem; }
  @media only screen and (max-width: 37.5em) {
    .info:not(:last-child) {
      margin-bottom: 1.5rem; } }

.info:first-of-type {
  margin-top: 4rem; }
  @media only screen and (max-width: 37.5em) {
    .info:first-of-type {
      margin-top: 1.5rem; } }

.info__box {
  position: relative;
  margin-bottom: 1rem; }
  .info__box-icon {
    position: absolute;
    left: -2.5rem;
    font-size: 2.5rem;
    color: #FF4444; }
    @media only screen and (max-width: 37.5em) {
      .info__box-icon {
        position: relative;
        left: 0; } }
  .info__box-title {
    font-size: 2rem;
    text-transform: uppercase; }

.info__text {
  font-size: 1.5rem; }

.info__social-icon {
  font-size: 2.5rem; }

.info__copyright {
  font-size: 1.5rem; }
  .info__copyright--link, .info__copyright--link:link, .info__copyright--link:visited {
    text-decoration: none;
    color: #FF4444; }
