// VARIABLES


/* Grid variables */
$grid-width: 114rem;   // 1140px
$gutter-vertical: 6rem;
$gutter-horizontal: 5rem;


/* Colors */
$color-primary: #E90000;
$color-primary-light: #FF4444;
$color-primary-dark: #A20000;

$color-grey-light: #f7f7f7;

$color-grey-dark: #333;
$color-grey-dark-2: #888; 
$color-grey-dark-3: #444;

$color-black: #222;       


/* Responsive breakpoints */
$bp-big: 81.25em;   // 1300px
$bp-medium: 65.63em;   // 1050px
$bp-small: 50em;    // 800px
$bp-smallest: 37.5em;    // 600px
$bp-tiny: 28.13em; // 450px




// GLOBAL SETTINGS

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
} 

body {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: $color-grey-light;
}

html {
    font-size: 62.5%; // Change to define 1rem = 10px instead of default 16px

    @media only screen and (max-width: $bp-big) {
        font-size: 50%;
    }

    @media only screen and (max-width: $bp-small) {
        font-size: 40%;
    }
}

section {
    padding: 8rem 0;

    @media only screen and (max-width: $bp-smallest) {
        padding: 2.5em 0;
    }
}


